/* Display Properties */
/* This property is used to convert Block Level element to inline level element and vice versa 
inline | inline-block (width property can be applied) | block | none (hide the element)
*/
h1, p{
    display: inline-block;
    /* display: none; */
    border-style: solid;
    width: 400px;
}
b,i{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    text-decoration: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 10px;
    height: 20px;
}
ul li:hover{
    background-color: #fbca04;
}
a:hover{
    color: white;
}
/* Default CSS */
div{
    height:100px;
    background-color:#FFFFFF;
}
blockquote{
    background-color: blue;
    padding: 10px;
    margin: 20px; 
}
span{
    background-color: red;
    padding: 10px;  
    color: white;
}
/* Inline Display */
.dis_il blockquote{
    background-color: blue;
    padding: 10px;
    margin: 20px; 
    display: inline;
}

/* Block Display */
.dis_bk blockquote{
    background-color: blue;
    padding: 10px;
    margin: 20px; 
    display: inline-block;
    width: 25%;
}
/* Flex Display */
.dis_fx blockquote{
    background-color: blue;
    padding: 10px;
    margin: 20px; 
    display: flex;
}
