body{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#43b0f6, #fff);
    color: #444e54;
    height: 110vh;
}
main{
    margin-top: 40px;
}
.city-title{
    max-width: 300px;
    font-size: 32px;
    font-weight: bold;
    text-align: end;
}
.current-weather{
    margin-top: 50px;
}
/* Temp-title */
.temp-title{
    font-size: 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.temp-subtitle{
    font-size: 35px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cur-feel-temp{
    font-style: italic;
    font-weight: bold;
}
.todays-info{
    margin: 15px 0px 15px 20px;
    vertical-align: middle;
}
.todays-info p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-top: 15px;
}
h2{
    font-size: 40px;
}
.side-info{
    position: relative;
    left: 12px;
    top: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.side-info span{
    font-size: 25px;
}
.daily-forcast{
    text-align: center;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
.forecast-card{
    border: 1px solid #589ecd;
    box-shadow: 0px 0px 12px 2px #43b0f6;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 22px;
    margin-bottom: 15px;
}
.weather{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 19px;
}
.forecast-card span{
    font-size: 20px;
    font-style: italic;
}
footer{
    position: relative;
    bottom: -70px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #0a95c9;
}
a:hover{
    color: #007bff;
    font-weight: bold;
}